.see-project,
.resume,
.sbtn {
  transition-property: box-shadow, background-color, border-radius, border;
  transition-duration: 3s, 3s, 3s, 3s;
}

.see-project:hover,
.resume:hover,
.sbtn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  background-color: #1e488f;
  border-radius: solid #1e488f 4px;
  border: solid #1e488f;
}

@media screen and (min-width: 768px) {
  .head-line,
  .about-tex-container {
    overflow: hidden;
  }

  .supportig-text {
    animation-duration: 9s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}
